table {
  width: 100%;
  table-layout: fixed;
}

.likes {
  width:10%;
  text-align: right;
  padding-right:4px;
}
.time {
  width: 30%;
  text-align: right;
}
.dsc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:60%;
  max-width:60%;
}
