/* You can add global styles to this file, and also import other style files */
.primary {
  color: darkblue;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  --mat-toolbar-container-background-color: ghostwhite;
}

.mat-typography h3 {
  margin: 0;
}
